*{
    padding: 0;
    margin: 0;
}
.sec{
    width: 800px;
    height: 300px;
    margin: 500px auto;
    background-color: gray;
}
.a{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 1s ease 0s;
}
.b{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: all 1s ease 0s;
}
.c{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 1s ease 0s;

}
.d{
    width: 100px;
    height: 100px;
    background-color: gold;
    transition: all 1s ease 0s;
}
.e{
    width: 100px;
    height: 100px;
    background-color: pink;
    transition: all 1s ease 0s;
}

.ex1{
    overflow: hidden;
    position: relative;
}
.ex1 .a{
    position: absolute;
    top: 0px;
    left: 0px;
}
.ex1:hover .a{
    top: -100px;
    left: -100px;
}
.ex1 .b{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.ex1:hover .b{
    bottom: -100px;
    left: -100px;
}
.ex1 .c{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    /* transform: translate(-50%, -50%); */
}
.ex1:hover .d{
    right: -100px;
    top: -100px;
}
.ex1 .d{
    position: absolute;
    top: 0px;
    right: 0px;
}
.ex1:hover .e{
    right: -100px;
    bottom: -100px;
}
.ex1 .e{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.ex2{
    overflow: hidden;
    position: relative;
}
.ex2 div{
    position: absolute;
}
.ex2 .a{
    left: -100px;
    top: -100px;
}
.ex2:hover .a{
    left: 0;
    top: 0;
}
.ex2 .b{
    left: -100px;
    bottom: -100px;
}
.ex2:hover .b{
    left: 0;
    bottom: 0;
}
.ex2 .c{
    left: calc(50% - 50px);
    bottom: -100px;
}
.ex2:hover .c{
    bottom: 0;
}
.ex2 .d{
    right: -100px;
    top: -100px;
}
.ex2:hover .d{
    right: 0;
    top: 0;
}
.ex2 .e{
    right: -100px;
    bottom: -100px;
}
.ex2:hover .e{
    right: 0;
    bottom: 0;
}


.ex3{position: relative;}
.ex3 div{
    position: absolute;
    width: 20%;
    height: 100%;
}
.ex3 .a{
    top: -100%;
    left: 0%;
}
.ex3 .b{
    left: 20%;
    bottom: -100%;
}
.ex3 .c{
    top: -100%;
    /* left: calc(50% - 80px); */
    left: 40%;
}
.ex3 .d{
    bottom: -100%;
    left: 60%;
}
.ex3 .e{
    top: -100%;
    left: 80%;
}
.ex3:hover .a{top: 0;}
.ex3:hover .b{bottom: 0;}
.ex3:hover .c{top: 0;}
.ex3:hover .d{bottom: 0;}
.ex3:hover .e{top: 0;}



.ex4.sec{position: relative;}
.ex4 .a{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    top: -150px;
}
.ex4 .c{
    position: absolute;
    top: 0px;
    right: 0px;
}
.ex4 .b{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.ex4 .d{
    position: absolute;
    right: 0px;
    bottom: -150px;
    width: 300px;
    height: 300px;
}
.ex4 .e{
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.ex5.sec{
    position: relative;
}
.ex5 div{
    position: absolute;
}
.ex5 .a{
    top: -100px;
    left: -100px;
    z-index: 5;
}
.ex5 .b{
    top: -50px;
    left: -50px;
}
.ex5 .c{
    top: 0px;
    left: 0px;
    z-index: 5;
}
.ex5 .d{
    top: 50px;
    left: 50px;
}
.ex5 .e{
    top: 100px;
    left: 100px;
}

.ex6.sec{
    display: flex;
}
.ex6 .a, .ex6 .b{
    position: relative;
    flex:1;
    height: auto;
}
.ex6 .a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ex6 .c, .ex6 .d, .ex6 .e{
    position: absolute;
}
.ex6 .c{
    top: 0px;
    right: 0px;
}
.ex6 .d{
    height: 50px;
    left: 0px;
    bottom: 0px;
}
.ex6 .e{
    height: 50px;
    right: 0px;
    bottom: 0px;
}
