*{
    padding: 0;
    margin: 0;
}
.popup{
    border: 1px solid red;
    position: fixed;
    top: 200px;
    left: 200px;
    width: 300px;
    background-color: #fff;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease 0s;
    transform: scale(1);
}
img{
    max-width: 100%;
}
.popup-controler{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.popup-controler span{
    cursor: pointer;
    padding: 0.4rem 1rem;
    border: 1px solid #000;
}
.popup.hide{
    opacity: 0;
    transform: scale(1.5);
    pointer-events: none;
    /* 마우스에도 반응하지 않게 함 */
}




.container{
    width: 1000px;
    margin: 0 auto;
}
