h2{
    color:white;
    background-color:rgb(0, 255, 221);
    font-size: 20px;
}
h2{
    color: rgb(0, 0, 177);
}
#a{
    color: skyblue;
}
.b{
    font-size: 50px;
}
p.c{
    font-size: 60px;
    color: #000;
}
h2.c{
    color: lime;
}
p.a.b{
    color: blueviolet;
    font-size: 70px;
}

div.box h2{
    background-color: gray;
}