html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
}
header{
    height: 100px;
}
.inner-frame{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    text-transform: uppercase;
}
.logo{
    line-height: 0;
}
.gnb{
    display: flex;
}
.gnb>li>a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    font-size: 18px;
    font-weight: 600;
}
.gnb>li{
    background-color: #fff;
    box-sizing: border-box;
    width: 200px;
    padding: 0 10px 10px;
    max-height: 100px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.gnb>li:hover{
    max-height: 800px;
    z-index: 1000;
}
.lnb{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
    font-weight: 400;
}
.banner>video{
    position: relative;
    width: 100vw;
    height: 800px;
    object-fit: cover;
}
.banner>.text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    line-height: 1;
    text-align: center;
    color: #fff;
}
.text>h1{
    font-size: 7rem;
}
.text>p{
    font-weight: 500;
    margin-top: 1rem;
}