html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    height: 100px;
}
.inner-frame{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    line-height: 0;
}
.gnb{
    display: flex;
}
.gnb>li>a{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
}
.gnb>li{
    box-sizing: border-box;
    width: 200px;
    padding: 0 10px 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    /* border: 1px solid red; */
    background-color: #fff;
    max-height: 100px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.gnb>li:hover{
    background-color: rgb(107, 41, 41);
    border-radius: 10px;
    max-height: 1000px;
    border-radius: 10px;
    color: #fff;
}
.lnb>li:hover>a{
    background-color: #350505;
    border-radius: 20px;
}
.lnb{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    gap: 1rem;
}
.lnb>li{
    width: 100%;
}
.lnb>li>a{
    display: flex;
    width: 100%;
    height: 100%;
}
.e{
    width: 100%;
    height: 100px;
}
.banner video{
    position: relative;
    height: 800px;
    width: 100vw;
    object-fit: cover;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: 
    translateX(-50%)
    translateY(-50%);
    text-align: center;
}
.text h1{
    font-size: 140px;
    color: #fff;
    line-height: 1;
}
.text p{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
.banner{
    margin-bottom: 500px;
}
.video>video{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}