@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }
    .content {
    width: auto;
    margin: 0 2rem;
    margin-top: 6rem;
    }
    .content p {
        padding: 20px 0;
        margin-bottom: 60px;
    }
    .content figure img {
    width: 100%;
    margin-bottom: 20px;
    height: 350px;
    }
    h2{
        font-size: 60px;
    }
}