html{
    margin: 0;
    padding: 0;
}
.full{
    background-color: aqua;
}
h1{
    text-align: center;
    color: blue;
}
.blue-line{
    color: blue;
}
h2{
    text-align: center;
    color: green;
}
.yellow-box{
    margin: 30px;
    width: auto;
    background-color: bisque;
    padding: 20px;
}
.well{
    color: orange;
}
.yellow-box-2{
    background-color: yellow;
    margin: 20px;
    padding: 20px;
}
.blue-box{
    background-color: skyblue;
    margin: 20px;
    padding: 20px; 
}
.a{
    color: blue;
    text-align: left;
}
.gray-box{
    width: auto;
    margin: 30px;
    color: white;
    background-color: gray;
    text-align: center;
    padding: 20px 0;
}
.home{
    color: white;
    background-color: blue;
    padding: 20px 40px;
    width: 700px;
    margin: 0 auto;
}
