@charset "utf-8";
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: inherit; color: inherit;}
img{max-width: 100%;}

html{color: #333; background-color: #fff;}

.modal.on{
    display: block;
}
.modal{
    display: none;
    width: 1000px;
    height: 650px;
    position: fixed;
    z-index: 2500;
    background-color: #0000007a;
}
.popup{
    width: 400px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid red;
    background-color: #fff;
    position: fixed;
    top: 200px;
    left: 200px;
    z-index: 3000;
    display: none;
}
.popup p{
    margin: 2rem 0;
}
.btn-ctl{
    display: flex;
    justify-content: flex-end;
}
.btn-close{
    display: flex;
    box-sizing: border-box;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border: 1px solid #000;
}
.popup.on{display: block;}

.wrap{
    display: flex;
    width: 1000px;
    height: 650px;
}
header{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    position: relative;
    z-index: 1000;
}
header a{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 800px;
}
.gnb>li{
    position: relative;
    top: 0;
    left: 0;
}
.gnb ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 180px;
    top: 0;
    background-color: #fff;
    color: #333;
    opacity: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;
}

.gnb li:hover ul{
    opacity: 1;
    pointer-events: inherit;
}
.gnb li:hover>a{
    background-color: #333;
    color: #fff;
}
.main{
    width: 800px;
}
.station{
    width: 800px;
    height: 350px;
    overflow: hidden;

}
.train{
    display: flex;
    width: 300%;
    transition: all 0.5s ease 0s;
}
.train li{
    height: 350px;
    line-height: 0;
}
.train img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    display: flex;
    height: 200px;
    width: 800px;
}
.content section{
    flex: 1;
    box-sizing: border-box;
    padding: 5px;
}
section h4{
    text-align: center;
    margin-bottom: 5px;
}
.notice li{
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.gallery{
    display: flex;
    gap: 5px;

}
.gallery li{
    flex: 1;
}
footer{
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
}
.copy{
    flex: 2;
}